.d-flex {display: flex;}
.flex-wrap {flex-wrap: wrap;}

.flex-column {flex-direction: column;}
  
.justify-between {justify-content: space-between;}
.justify-center {justify-content: center;}

.align-center {align-items: center;}

.vertical-align {display: flex; align-items: center; justify-content: center;}

.col-0 { width: calc(100vw - 40px); height: calc(100vh - 40px);}

.col-1>* {
  width: calc(100vw / 2 - 40px);
  height: calc(100vh / 1.5 - 40px);
}
  
.col-2>* {
  width: calc(100vw / 4 - 40px);
  height: calc(100vh / 3 - 40px);
}

.col-3>* {
  width: calc(100vw / 4);
  height: calc(100vh / 4);
}

.grid-2 {
  display: grid;
  grid-template-columns: 50% 40%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
  
/* video {
  width: 300px !important;
  height: 300px !important;
} */