main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
}

video {
  background-color: black;  
  max-height: 100%;
  max-width: 100%;
}

/* enable audio/video, share shreen */
.media-controls {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 15px;
}

.media-controls>div {
  /* display: none; */
  padding: 5px;
  background-color: var(--dark);
  border-radius: 7px;
}

/* .media-controls:hover div {
  display: flex;
} */

.media-controls button {
  font-size: 18px;
  color: #fff;
  padding: 12px 15px;
  cursor: pointer;
}

.chat-box {
  width: 350px;
  position: fixed;
  right: 0;
  top: 0;
}
