main {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--black);
}

.media-videos {display: flex; flex-wrap: wrap; justify-content: center; align-items: center;}

.media-controls {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  overflow: auto;
}

.media-controls > div {
  min-width: 120px;
  background-color: var(--dark);
}
  
.media-controls button {
  font-size: 22px;
  color: #fff;
  padding: 12px 15px;
  cursor: pointer;
}

.chat-box {width: 350px; position: fixed; right: 0; top: 0;}

.box {
  position: relative;
  overflow: auto;
}

.box>span {position: absolute; top: 0; left: 0;}

video { width: 95%; border: 1px solid #fff; object-fit: cover;}
