main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
}

video {
  background-color: black;  
  max-height: 100%;
  max-width: 100%;
}

/* enable audio/video, share shreen */
.media-controls {
  height: 70px;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 15px;
  overflow: hidden;
}

.media-controls>div {
  opacity: 0;
  display: flex;  
  border-radius: 7px;
  background-color: var(--dark);
  padding: 5px;  
  transition: opacity .2s;
}

.media-controls:hover div {
  opacity: 1;
}

.media-controls button {
  font-size: 18px;
  color: #fff;
  padding: 12px 15px;
  cursor: pointer;
}

.chat-box {
  width: 350px;
  position: fixed;
  right: 0;
  top: 0;
}

/************ media grid *************/
.media-grid-1 {
  display: grid;
  grid-template-columns: repeat(1, calc(100vw / 1.2));
  grid-template-rows: repeat(1, calc(100vh / 1.2));
  align-content: center;
  gap: 20px;
}

.media-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, calc(100vw / 2.08));
  grid-template-rows: repeat(2, calc(100vh / 1.1));

  gap: 20px;
  padding: 20px;
}

.media-grid-3 {
  display: grid;
  grid-template-columns: repeat(2, calc(100vw / 3));
  grid-template-rows: repeat(2, calc(100vh / 2.2));
  gap: 20px;
  padding: 20px;
}

.media-grid-4 {
  display: grid;
  grid-template-columns: repeat(2, calc(100vw / 3));
  grid-template-rows: repeat(2, calc(100vh / 2.2));
  gap: 20px;
  padding: 20px;
}

.media-grid-5 {
  display: grid;
  grid-template-columns: repeat(2, calc(100vw / 3));
  grid-template-rows: repeat(2, calc(100vh / 2.2));
  gap: 20px;
  padding: 20px;
}