:root {
  --dark: #1b1b1b;
  --black: #242424;
  --white: #fff;
  --blue: #0098f8;
  --red: #ff4c4c;
  --light: rgb(54, 54, 54);
  --box-shad: 0px 5px 18px rgb(0 0 0 / 20%);
  --light-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--black) var(--white);
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--black);
  color: var(--white);
  font-size: 16px;
  font-family: 'Noto Sans', 'Courier New', Courier, monospace;
  letter-spacing: .6px;
}

.container {
  padding: 10px 50px;
}

nav {
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  padding: 10px 15px;
  cursor: pointer;
}

.nav-brand a {
  font-weight: 600;
  color: var(--blue);
  font-size: 20px;
}

/*****************************************************/
section {
  width: 100%;
  height: calc(100vh - 100px);
  background: linear-gradient(180deg,
  rgb(36 36 36 / 97%),
  rgb(36 36 36 / 92%),
  rgb(36 36 36 / 90%)),
    url(https://www.nicepng.com/png/full/367-3679467_map-availability-blue-czech-republic-safe.png);

  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

section>* {
  width: 100%;
  height: 100%;
}

section a {
  width: fit-content;
}

/**********************************************************************/
button,
input,
a {
  margin: 0;
  background-color: transparent;
  padding: 0;
  border: 0;
  text-decoration: none;
}

a {
  color: var(--white);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.btn,
input {
  background-color: var(--white);
  padding: 1.2em 1em;
  line-height: 1 !important;
  letter-spacing: 0.6px;
  border-radius: 3px;
}

.btn:hover,
button:hover {
  opacity: 0.8;
}

/**********************************************************************/
h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

.d-flex {display: flex;}
.flex-column {flex-direction: column;}
.align-center {align-items: center;}
.justify-center {justify-content: center;}

.bg-dark {background-color: var(--dark);}
.bg-blue {background-color: var(--blue);}
.bg-red {background-color: var(--red);}
.bg-black {background-color: #000;}
.black {color: var(--black);}
.bleu {color: var(--blue);}
.red {color: var(--red);}

.uppercase {text-transform: uppercase;}
.text-center {text-align: center;}

.w-100 {width: 100%;}
.h-100 {height: 100%;}

.mx-auto {margin: auto;}
.mb-0 {margin-bottom: 0;}
.mr-1 {margin-right: 10px;}
.ml-1 {margin-left: 10px;}
.mt-1 {margin-top: 10px;}
.mr-2 {margin-right: 20px;}
.mb-1 {margin-left: 10px;}
.mb-2 {margin-bottom: 20px;}
.ml-2 {margin-left: 20px;}
.mb-3 {margin-bottom: 30px;}
.mr-3 {margin-right: 30px;}
.mt-3 {margin-top: 30px;}
.ml-3 {margin-left: 30px;}

.p-3 {padding: 30px;}
.pl-0 {padding-left: 0;}

.fa-user-shield {font-size: 98px;}

.br7 {
  border-radius: 7px;
}

.blur {
  background-color: rgba(31, 31, 31, 0.856);
  backdrop-filter: blur(5px);
}

.overflow-auto {
  overflow: auto;
}

.shadow {box-shadow: 1px 1px 5px 4px #1a1a1a;}

.fadein {
  animation: fadeIn .25s linear;
}

.scale {
  animation: scale 0.25s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}